In [88]:
# https://stackoverflow.com/questions/36798782/scipy-ckdtree-nearest-neighbor-including-zeros-distance
from scipy.spatial import cKDTree
import numpy as np
import pandas as pd

# Create DATA tree
d = {'col1': [1, 3, 4, 5, 6], 'col2': [1, 3, 4, 5, 6], 'col3': [1, 3, 4, 5, 6], 'col4': [6, 6, 6, 6, 6]}
df = pd.DataFrame(d)
df

   col1  col2  col3  col4
0     1     1     1     6
1     3     3     3     6
2     4     4     4     6
3     5     5     5     6
4     6     6     6     6

In [83]:
# Convert to np.array
points_ref = np.array([tuple(x) for x in df.values])
points_ref

array([[1, 1, 1, 6],
       [3, 3, 3, 6],
       [4, 4, 4, 6],
       [5, 5, 5, 6],
       [6, 6, 6, 6]])

In [84]:
# Construct the KD Tree -> https://en.wikipedia.org/wiki/K-d_tree
tree = cKDTree(points_ref)

In [92]:
# TEST
# https://stackoverflow.com/questions/36798782/scipy-ckdtree-nearest-neighbor-including-zeros-distance
idx = tree.query_ball_point((4, 4, 4, 4), 2)
df.iloc[idx,:]

   col1  col2  col3  col4
2     4     4     4     6

In [91]:
_, idx = tree.query((4, 4, 4, 6), k=2)
df.iloc[idx,:]

   col1  col2  col3  col4
2     4     4     4     6
1     3     3     3     6